@import '~view-design/src/styles/index.less';

@menu-dark-title              : #515a6e;
@menu-dark-active-bg          : #363e4f;
@menu-dark-subsidiary-color   : rgba(255,255,255,.7);
@menu-dark-group-title-color  : rgba(255,255,255,.36);

@menu-blue-title              : #DEE7F4;
@menu-blue-active-bg          : #447ED9;
@menu-blue-color              : #FFFFFF;
@menu-blue-group-title-color  : #8696a7;

/*form背景*/
@form-bg-white: #FFFFFF;

.ivu-form-item {
    margin-bottom: 10px;
}
.ivu-form-item-error-tip {
    position: unset;
    top: unset;
    left: unset;
    line-height: unset;
    padding-top: unset;
    color: #ed4014;
}
.ivu-input[disabled] {
    background-color: #fff;
    color:#515a6e;
}
.ivu-table {
    font-size: 12px;
}
.ivu-table td {
    height: 38px;
}
.ivu-table-row-highlight td {
    background-color: #B8D9FD;
}
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td{
    background-color: #B8D9FD;
}
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td{
    background-color: #B8D9FD;
}
.ivu-select-disabled .ivu-select-selection {
    background-color: #fff;
}
.ivu-select-input[disabled] {
    -webkit-text-fill-color: #515a6e;
    color: #515a6e;
}
.ivu-table-header thead tr th {
    padding: 4px 0;
    font-weight: 600;
}
.ivu-btn-small {
    font-size: 12px;
}
.ivu-message .ivu-icon {
    font-size: 24px;
}
.ivu-modal-full {
    z-index: 1;
    font-size: 14px;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}
.ivu-table-cell span{
    cursor: default;     
}
.ivu-list-item div .default {
    cursor: default;
}