.top {
    flex: 1;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.top-title {
background: #ffffff;
    border: 1px solid #dcdee2;
    border-color: #e8eaec;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 5px;
}

.bottom {
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
}
.ivu-divider-horizontal.ivu-divider-with-text-left:before {
    border-top: 1px solid #dcdee2;
    border-left: 1px solid #dcdee2;
    background-color: @form-bg-white;
    width: 3%;
}
.ivu-divider-horizontal.ivu-divider-with-text-left:after {
    border-top: 1px solid #dcdee2;
    border-right: 1px solid #dcdee2;
    background-color: @form-bg-white;
}
.ivu-divider-horizontal.ivu-divider-small.ivu-divider-with-text-center, 
.ivu-divider-horizontal.ivu-divider-small.ivu-divider-with-text-left, 
.ivu-divider-horizontal.ivu-divider-small.ivu-divider-with-text-right
 {
    margin: 0;
    font-weight: 600;
    color: #515a6e;
}
.top_tabale{
    background-color: @form-bg-white;
    border: 1px solid #dcdee2;
    border-top:0;
    border-color: #e8eaec;    
}