.layout {
    background: #f5f7f9;
    position: relative;
    overflow: hidden;
}
.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.layout-nav {
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
}
.layout-con{
    height: 100%;
    width: 100%;
}
.header{
    position: fixed; 
    width: 100%;
    z-index: 10;
    .item {
        float: left;
        padding: 0 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;
        transition: all 0.2s ease-in-out;
        color: #fff;
    
        img {
            width: 30px;
        }
    }
    
    .title {
        color: #fff;
        font-size: 24px;
    }
    
    .right-item {
        float: right;
        padding: 0 20px;
        position: relative;
        cursor: pointer;
        z-index: 3;
        transition: all 0.2s ease-in-out;
        color: #fff;
    
        img {
            width: 30px;
        }
    }
    
    .right-title {
        font-size: 12px;
    }
}
.container{
    min-height: 100vh;
    margin-top: 64px;
    width: 100%;
    .container-sider{
        position: fixed;
        height: 100vh; 
        left: 0;
        overflow: auto;
        top:64px;
        background: #DEE7F4;
        width:150px;max-width:150px;min-width:150px;flex:0 0 150px;
        .title-menu{
            padding: 14px 14px;
            position: relative;
            cursor: pointer;
            z-index: 2;
            transition: all 0.2s ease-in-out;
            background: #8D9CC5;
            color: #103164;
            font-size: 16px;
            .main-button{
                margin-left: -5px;
            }
        }
    }
    .content{
        transition: all .2s ease-in-out;
        position: relative;
        overflow: hidden;
        top: 0px;
        //width: calc(100% - 150px);

        .content-panel{
            padding: 0 16px 16px;
        }
    }
}
.menu-item span {
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}

.menu-item i {
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}

.collapsed-menu span {
    width: 0px;
    transition: width .2s ease;
}

.collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}
.marginRight{
    margin-left: 78px;
    width: calc(100% - 78px);
}
.marginLeft{
    margin-left: 150px;
    width: calc(100% - 150px);
}
.ivu-menu-submenu-title > i, .ivu-menu-submenu-title span > i {
    margin-right: 0px;
}
